@import "./rounded.css";
@import "./darkmode.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.paynocchio, .paynocchio-modal-open {
    #payment .payment_methods li img {
        @apply cfps-float-none cfps-max-h-none;
    }
}

#paynocchio_auth_block {
    @apply cfps-bg-white cfps-drop-shadow cfps-py-4 cfps-mt-4;

    p {
        @apply cfps-text-base;
    }

    .paynocchio_form {
        @apply cfps-hidden cfps-p-8;
    }

    .visible {
        @apply cfps-block;
    }

    form {
        @apply cfps-flex cfps-flex-col cfps-gap-4;
    }

    .row {
        /* @apply lg:cfps-grid lg:cfps-grid-cols-2 cfps-gap-4 cfps-flex cfps-flex-col;*/
        @apply cfps-flex cfps-flex-col cfps-gap-4;
    }

    .col {
        @apply cfps-flex cfps-flex-col;
    }

    &:last-child {
         @apply cfps-mb-0;
    }

    .paynocchio_input {
        @apply cfps-border-0 cfps-drop-shadow !cfps-m-0;
    }

    .form-toggle-a {
        @apply cfps-cursor-pointer cfps-underline;
    }

    input[type="checkbox"] {
        @apply cfps-rounded cfps-p-2;
    }

    h2 {
        @apply cfps-text-2xl cfps-font-bold cfps-mb-4 cfps-text-center;
    }

    input[type="submit"] {
        @apply cfps-cursor-pointer;
    }
}

.cfps-btn-primary {
    @apply cfps-text-2xl cfps-px-3 cfps-py-2 cfps-bg-blue-500 cfps-px-8 cfps-py-2 cfps-text-white cfps-inline-flex cfps-items-center;
}

.paynocchio_button {
    @apply !cfps-px-4 !cfps-py-2 !cfps-no-underline cfps-whitespace-nowrap;
}

.btn-gray {
    @apply cfps-bg-zinc-100 cfps-inline-block hover:cfps-bg-zinc-200 cfps-text-black;
}

.btn-blue {
    @apply cfps-bg-blue-500 !cfps-text-white cfps-inline-block hover:cfps-bg-blue-600;
}

.btn-white {
    @apply cfps-bg-white !cfps-text-black cfps-inline-block hover:cfps-bg-zinc-100;
}

.cfps-h2 {
    @apply cfps-mb-2 cfps-text-xl cfps-font-semibold;
}

.cfps-disabled {
    @apply cfps-opacity-75 cfps-pointer-events-none;
}


.paynocchio-account {
    @apply cfps-mt-4 cfps-p-4 cfps-bg-white cfps-drop-shadow;

    a {
        @apply cfps-text-blue-500;

        &.cfps-btn-primary {
             @apply cfps-text-white;
        }
    }
}

.paynocchio-embleme {
    @apply cfps-drop-shadow cfps-w-full cfps-text-center;
}

.paynocchio-embleme img {
    @apply cfps-w-1/2 cfps-min-w-[150px] cfps-max-w-40 !cfps-h-auto cfps-mx-auto cfps-my-4 !cfps-float-none !cfps-max-h-none;
}

.paynocchio-profile-info {
    @apply cfps-mb-8 cfps-max-w-5xl cfps-mx-auto;
}

.paynocchio-profile-img {
    @apply cfps-h-[140px] cfps-p-2;
}

.paynocchio-profile-text {
    @apply cfps-p-2;
}

.paynocchio-profile-text h2 {
    @apply cfps-font-bold cfps-text-2xl;
}

.paynocchio-count {
    @apply cfps-flex cfps-flex-row cfps-border-slate-200 cfps-border-r cfps-mt-2;
}

.paynocchio-count > div {
    @apply cfps-px-4 cfps-py-2 cfps-border-slate-200 cfps-border-l;
}

.paynocchio-count > div p:first-child {
    @apply cfps-text-2xl cfps-font-semibold;
}

.paynocchio-tab-selector {
    @apply cfps-flex cfps-justify-start cfps-max-w-5xl cfps-mx-auto cfps-mx-8;
}

.paynocchio-tab-selector a {
    @apply cfps-text-black cfps-py-4 cfps-px-4 cfps-cursor-pointer cfps-border-b-2 cfps-border-transparent !cfps-no-underline;
}

.paynocchio-tab-selector a.choosen {
    @apply cfps-border-blue-500;
}

.paynocchio_tabs {
    @apply cfps-bg-slate-100 cfps-p-8 cfps-pt-1 cfps-mt-0;
}

.paynocchio-tab-body {
    @apply cfps-hidden;
}

.paynocchio-tab-body.visible {
    @apply cfps-block;
}

.paynocchio-consents {
    @apply cfps-text-center cfps-p-4;
}

.paynocchio-profile-block {
    @apply cfps-p-8 cfps-max-w-5xl cfps-mx-auto cfps-mb-8 cfps-drop-shadow cfps-bg-white;
}

.paynocchio-profile-block h2 {
    @apply cfps-font-bold cfps-text-xl cfps-mb-8;
}

.paynocchio-profile-block.paynocchio-blue-badge {
    @apply cfps-bg-blue-500 cfps-text-white;
}

.paynocchio-blue-badge > div {
    @apply cfps-font-bold cfps-text-2xl;
}

.paynocchio-blue-badge .tab-switcher {
    @apply cfps-inline-block cfps-bg-white cfps-text-black !cfps-no-underline cfps-p-2 cfps-w-8 cfps-text-center cfps-rounded-3xl;
}

.paynocchio .btn-back {
    @apply cfps-cursor-pointer !cfps-no-underline;
}

.paynocchio-actions-btns {
    @apply cfps-flex cfps-flex-row cfps-flex-wrap cfps-justify-center cfps-items-center cfps-gap-4;
}

.history-list {
    @apply cfps-flex cfps-flex-col;
}

.history-item {
    @apply cfps-p-2 cfps-grid cfps-grid-cols-[50px_100px_1fr_100px] ;
}

.history-item:not(:last-child) {
    @apply cfps-border-b cfps-border-gray-200;
}

.history-amount {
    @apply cfps-text-right cfps-font-semibold;
}

.paynocchio-card-bonuses {
    @apply cfps-flex cfps-flex-row cfps-flex-wrap cfps-gap-[5%] cfps-items-start cfps-justify-center;
}

.paynocchio-card-bonuses .paynocchio-card-container {
    @apply cfps-w-[100%] cfps-max-w-[350px];
}

.paynocchio-card-container {
    @apply cfps-flex cfps-justify-center cfps-flex-col cfps-items-center cfps-gap-4;
}

.paynocchio-card-face,
.paynocchio-card-back {
    @apply cfps-relative cfps-hidden;
}

.paynocchio-card-face.visible,
.paynocchio-card-back.visible {
    @apply cfps-inline-block;
}

.card-toggle {
    @apply cfps-absolute cfps-w-full cfps-h-full cfps-z-10 cfps-top-0 cfps-left-0;
}

.paynocchio-balance-bonuses {
    @apply cfps-absolute cfps-flex cfps-flex-row cfps-items-center cfps-text-white cfps-gap-8 cfps-text-sm lg:cfps-text-xl cfps-z-20 cfps-top-[27%] cfps-left-[7%];
}

.paynocchio-balance-bonuses .amount {
    @apply cfps-text-base lg:cfps-text-3xl;
}

.paynocchio-conversion-rate {
    @apply cfps-w-[100%] cfps-max-w-[350px] cfps-flex cfps-flex-row cfps-flex-wrap cfps-items-center cfps-gap-4 cfps-justify-between cfps-border-2 cfps-border-gray-100 cfps-p-4 cfps-rounded-3xl;

    h3 {
        @apply cfps-font-semibold cfps-leading-6 cfps-mb-8 !cfps-clear-none;
    }

    .paynocchio-cart-total {
        @apply cfps-w-full cfps-p-4 cfps-bg-slate-100 cfps-rounded-xl;

        .paynocchio-cart-amounts {
            @apply cfps-flex cfps-flex-row cfps-items-center cfps-gap-4;
        }

        h3 {
            @apply cfps-text-2xl !cfps-mb-0 cfps-mt-3;
        }

        h3.paynocchio_before_discount {
            @apply cfps-line-through cfps-text-gray-500;
        }

        h3.paynocchio_discount {
            @apply cfps-bg-green-500 cfps-px-2 cfps-rounded-lg cfps-text-white cfps-text-2xl;
        }
    }

}







.paynocchio-modal-open {
    @apply cfps-overflow-hidden;
}

.modal {
    @apply cfps-w-full cfps-h-full cfps-bg-[rgba(0,0,0,0.5)] cfps-fixed cfps-hidden cfps-z-[9999] cfps-justify-center
    cfps-overflow-auto cfps-left-0 cfps-top-0 cfps-items-start;
}

.modal .close-modal {
    @apply cfps-w-full cfps-h-full cfps-fixed cfps-left-0 cfps-top-0;
}

.modal .container {
    @apply cfps-flex cfps-bg-white cfps-drop-shadow cfps-overflow-hidden cfps-mx-0 cfps-my-20;
    flex-flow: column;
}

.modal.suspendModal .container,
.modal.reactivateModal .container,
.modal.blockModal .container,
.modal.deleteModal .container {
    @apply !cfps-w-full !cfps-max-w-[350px];
}

.modal .container.zoom {
    @apply cfps-scale-50;
}

.modal .container.slide {
    @apply cfps-translate-y-[-1000px];
}

.modal .container .header {
    @apply cfps-flex cfps-font-semibold cfps-justify-between cfps-items-center cfps-p-4;
}

.modal .container .header h3 {
    @apply cfps-font-medium cfps-text-xl cfps-m-0 cfps-p-0;
}

.modal .container .header button {
    @apply cfps-bg-transparent cfps-appearance-none cfps-cursor-pointer cfps-text-2xl cfps-leading-6 cfps-cursor-pointer cfps-text-zinc-500 cfps-pb-1 cfps-p-0 cfps-border-0 hover:cfps-text-zinc-400;
}

.modal .container .content {
    @apply cfps-flex-1 cfps-p-4 cfps-pt-16;
}

/*.modal .container .content .prompt-input input {
    @apply cfps-rounded cfps-border cfps-w-full cfps-mt-[15px] cfps-p-2.5 cfps-border-solid cfps-border-[#e6e9ec];
}*/
.modal .container .footer {
    @apply cfps-flex cfps-justify-start cfps-p-4;
}
.modal .container .footer > div {
    @apply cfps-flex cfps-flex-row cfps-justify-start cfps-items-center cfps-gap-4;
}
.modal .container .footer button {
    @apply paynocchio_button cfps-text-base;
}
/*.modal .container .footer button.alt {
    @apply cfps-font-medium cfps-bg-[#dadbdd] cfps-text-[#606266] hover:cfps-bg-[#d5d6d8];
}*/
.modal .container .footer button.right {
    @apply cfps-ml-auto;
}
.modal.small .container {
    @apply cfps-w-[400px];
}
.modal.medium .container {
    @apply cfps-w-[600px];
}
.modal.large .container {
    @apply cfps-w-[900px];
}
.modal.full .container {
    @apply cfps-w-full cfps-h-full;
}
.modal.open {
    @apply cfps-flex;
}
.modal.open .container.zoom {
    @apply cfps-transition-all cfps-duration-[0.2s] cfps-ease-[ease] cfps-scale-100;
}
.modal.open .container.slide {
    @apply cfps-translate-y-0 cfps-transition-all cfps-duration-[0.5s] cfps-ease-[ease];
}

input {
    --tw-ring-color: transparent!important;
}

.toggle-autodeposit {
    @apply cfps-rounded-3xl cfps-bg-gray-400 cfps-w-[70px] cfps-h-7 cfps-p-0.5 cfps-flex cfps-flex-row cfps-items-center cfps-gap-x-2 cfps-relative cfps-cursor-pointer;
}

.toggle-autodeposit.checked {
    @apply cfps-bg-blue-500;
}

.toggle-autodeposit p:first-child {
    @apply cfps-hidden cfps-text-white cfps-absolute cfps-top-0.5 cfps-left-2 cfps-leading-6;
}

.toggle-autodeposit.checked p:first-child {
    @apply cfps-block;
}

.toggle-autodeposit p:last-child {
    @apply cfps-text-white cfps-absolute cfps-top-0.5 cfps-right-2 cfps-leading-6;
}

.toggle-autodeposit.checked p:last-child {
    @apply cfps-hidden;
}

.toggle-autodeposit.checked .toggler {
    @apply cfps-left-auto cfps-right-0.5;
}

.toggle-autodeposit .toggler {
    @apply cfps-rounded-3xl cfps-w-6 cfps-h-6 cfps-bg-gray-100 cfps-absolute cfps-left-0.5 cfps-top-0.5;
}

.card-variants {
    @apply cfps-flex cfps-flex-col cfps-gap-y-2;
}

.card-variants .card-var {
    @apply cfps-hidden cfps-bg-zinc-100 cfps-p-4 cfps-drop-shadow cfps-flex-row cfps-items-center cfps-justify-between;
}

.card-variants.clicked .card-var,
.card-variants .card-var.current-card {
    @apply cfps-flex;
}


.modal-add-card input[type='text'],
.modal-add-card select {
    @apply cfps-p-2 cfps-pt-6 cfps-bg-zinc-100 cfps-drop-shadow cfps-w-full cfps-border-0;
}

.modal-add-card div {
    @apply cfps-relative;
}

.modal-add-card label {
    @apply cfps-absolute cfps-top-1 cfps-left-2 cfps-text-sm cfps-z-20 cfps-text-gray-500;
}

.top-up-variants {
    @apply cfps-flex cfps-flex-row cfps-items-center cfps-my-8 lg:cfps-mt-12 cfps-gap-x-2;
}

.top-up-variants > a {
    @apply cfps-text-black cfps-bg-gray-100 cfps-px-4 cfps-py-3 cfps-text-xl cfps-cursor-pointer !cfps-no-underline;
}

.paynocchio-payment-block {
    @apply cfps-py-4 cfps-px-8 cfps-max-w-5xl cfps-mx-auto cfps-mt-4 cfps-mb-4 cfps-drop-shadow cfps-bg-white;
}

.paynocchio-payment-block .paynocchio_tiles {
    @apply cfps-gap-4 cfps-items-stretch cfps-flex cfps-flex-row cfps-mt-8 cfps-flex-wrap cfps-justify-center;
}

.paynocchio-payment-block .paynocchio_tiles > div {
    @apply cfps-w-full cfps-max-w-[450px];
}

.paynocchio-payment-block .paynocchio_tiles h3 {
    @apply !cfps-font-bold !cfps-text-white !cfps-m-0 !cfps-clear-none;
}

.paynocchio-card-simulator {
    @apply cfps-p-4 cfps-drop-shadow cfps-text-white cfps-flex cfps-flex-col cfps-gap-y-8 cfps-justify-start;
    background: -moz-linear-gradient(45deg, rgba(250,176,88,1) 0%, rgba(227,84,30,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(250,176,88,1) 0%, rgba(227,84,30,1) 100%);
    background: linear-gradient(45deg, rgba(250,176,88,1) 0%, rgba(227,84,30,1) 100%);
}

.paynocchio-promo-badge {
    @apply cfps-p-4 cfps-drop-shadow cfps-text-black;
    background: -moz-linear-gradient(45deg, rgba(203,184,255,1) 0%, rgba(172,150,234,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(203,184,255,1) 0%, rgba(172,150,234,1) 100%);
    background: linear-gradient(45deg, rgba(203,184,255,1) 0%, rgba(172,150,234,1) 100%);
}

input[type=range].styled-slider {
    height: 10px;
    -webkit-appearance: none;
    width: 150px;
    background: transparent;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background: #3b82f6;
    border: none;
    box-shadow: 0 0 0 3px #FFFFFF;
    margin-top: calc(10px * 0.5 - 20px * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 10px;
    border: none;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover {
    background: #0061c3;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
    background: #e5e5e5;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: #3b82f6;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
    background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#3b82f6,#3b82f6) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#0061C3,#0061C3) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#3b82f6,#3b82f6) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background: #3b82f6;
    border: none;
    box-shadow: 0 0 0 3px #FFFFFF;
}

input[type=range].styled-slider::-moz-range-track {
    height: 10px;
    border: none;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
    background: #0061c3;
}

input[type=range].styled-slider:hover::-moz-range-track {
    background: #e5e5e5;
}

input[type=range].styled-slider::-moz-range-thumb:active {
    background: #3b82f6;
}

input[type=range].styled-slider:active::-moz-range-track {
    background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#3b82f6,#3b82f6) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#0061C3,#0061C3) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#3b82f6,#3b82f6) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background: #3b82f6;
    border: none;
    box-shadow: 0 0 0 3px #FFFFFF;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: 10px;
    border-radius: 0.5em;
    background: #efefef;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
    background: #0061c3;
}

input[type=range].styled-slider:hover::-ms-track {
    background: #e5e5e5;
}

input[type=range].styled-slider::-ms-thumb:active {
    background: #3b82f6;
}

input[type=range].styled-slider:active::-ms-track {
    background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 10px;
    border-radius: 0.5em 0 0 0.5em;
    margin: -undefined 0 -undefined -undefined;
    background: #3b82f6;
    border: none;
    border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
    background: #0061C3;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
    background: #3b82f6;
}

#bonuses-value {
    @apply !cfps-bg-transparent cfps-w-[100px] cfps-border-0 cfps-p-0 cfps-font-semibold cfps-text-2xl cfps-block !cfps-shadow-none;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}

.paynocchio-cart-wallet-widget {
    @apply cfps-flex cfps-flex-row cfps-items-center cfps-relative cfps-gap-2 !cfps-text-base;

    a {
        @apply cfps-text-black cfps-no-underline cfps-font-black;
    }

    .cart {
        @apply cfps-flex cfps-flex-row cfps-items-center cfps-p-2 cfps-bg-zinc-100 cfps-text-zinc-950;
    }

    .wallet {
        @apply cfps-flex cfps-flex-row cfps-items-center cfps-p-2 cfps-bg-zinc-100 cfps-text-zinc-950;
    }

    .wallet .balance {
        @apply cfps-flex cfps-flex-row cfps-items-center cfps-pr-2 cfps-mr-2 cfps-border-r cfps-border-zinc-300 cfps-gap-x-2;
    }

    .wallet .bonuses {
        @apply cfps-flex cfps-flex-row cfps-items-center cfps-gap-x-2;
    }

    .wallet .add_money_button {
        @apply cfps-bg-zinc-300 cfps-rounded-3xl cfps-w-6 cfps-h-6 cfps-leading-6 cfps-text-center cfps-block cfps-ml-2 cfps-cursor-pointer;
    }

    .topup_mini_form {
        @apply cfps-hidden cfps-absolute cfps-top-[110%] cfps-right-0;
    }

    .topup_mini_form input {
        @apply !cfps-p-0 !cfps-bg-transparent !cfps-shadow-none;
    }

    .mini_form_top_up_button {
        @apply cfps-border-0 cfps-py-2 cfps-px-4 cfps-bg-blue-500 cfps-text-white cfps-flex cfps-flex-row;
    }

    .top_up_mini_form_wrapper {
        @apply cfps-p-4 cfps-bg-white cfps-drop-shadow cfps-flex cfps-flex-row cfps-items-center cfps-gap-x-2 cfps-justify-between cfps-bg-zinc-100;
    }
}

.paynocchio-profile-actions {
    .dropdown {
        @apply cfps-relative cfps-inline-block;
    }
    .action-button {
        @apply cfps-inline-block cfps-relative cfps-border cfps-rounded cfps-pr-6 cfps-pl-3 cfps-py-1 cfps-bg-blue-500 hover:cfps-bg-blue-600 cfps-text-white cfps-cursor-pointer cfps-text-nowrap;

        &:after {
             @apply cfps-absolute cfps-content-[''] cfps-top-1/2 cfps-right-2 -cfps-translate-y-1/2 cfps-w-0 cfps-border-l-4 cfps-border-l-transparent cfps-border-r-4 cfps-border-r-transparent cfps-border-t-4 cfps-border-t-white;
        }
    }

    .wallet-input {
        @apply cfps-hidden;
    }

    .wallet-menu {
        @apply cfps-absolute cfps-w-full cfps-p-2 cfps-border cfps-rounded;

        li {
            @apply cfps-px-2 cfps-cursor-pointer cfps-whitespace-nowrap;
        }
    }

    .wallet-input + .wallet-menu {
        @apply cfps-hidden;
    }

    .wallet-input:checked + .wallet-menu {
        @apply cfps-block;
    }
}


.paynocchio-new-account {
    @apply cfps-grid cfps-grid-cols-[384px_1fr] cfps-gap-8 cfps-items-start cfps-p-4 cfps-bg-gray-100 cfps-rounded-2xl;

    .paynocchio-account-menu {

        menu {
            @apply cfps-bg-white cfps-rounded-xl cfps-p-2  cfps-drop-shadow-sm;

            li {

                a {
                    @apply cfps-block cfps-p-4 cfps-rounded-lg hover:cfps-bg-gray-100 cfps-text-lg cfps-cursor-pointer;
                }
            }
        }

        .paynocchio-profile-info {
            @apply cfps-p-4 cfps-rounded-xl cfps-bg-white cfps-flex cfps-flex-row cfps-gap-4 cfps-drop-shadow-sm;

            .paynocchio-profile-img {
                @apply cfps-h-auto;

                img {
                    @apply cfps-w-[100px] cfps-h-[100px];
                }
            }
        }
    }

    .paynocchio-profile-block {
        @apply cfps-rounded-xl cfps-drop-shadow-sm;
    }

    .history_table {
        @apply cfps-rounded-lg cfps-border-[1px] cfps-border-gray-200 cfps-w-full;

        thead {
            @apply cfps-font-bold;
        }
        td {
            @apply cfps-px-4 cfps-py-2 cfps-border-b-[1px] cfps-border-gray-200;
        }
    }
}

.paynocchio-card {
    @apply cfps-overflow-hidden cfps-relative cfps-w-full cfps-max-w-[400px] cfps-rounded-3xl
    after:cfps-content-[''] after:cfps-bg-gradient-to-r after:cfps-from-white/20
    after:cfps-left-[-20%] after:cfps-right-[-20%] after:cfps-top-[-20%] after:cfps-bottom-[-20%] after:cfps-rotate-[15deg]
    after:cfps-absolute after:cfps-z-10;
    aspect-ratio: 5/3;

    .paynocchio-card-number {
        @apply cfps-absolute cfps-text-base lg:cfps-text-xl cfps-flex cfps-flex-row cfps-gap-2 lg:cfps-gap-2 cfps-z-20 cfps-left-[7%] cfps-bottom-[13%];
    }

    .wallet_status {
        @apply cfps-absolute cfps-left-[7%] cfps-top-[10%];
    }

    .on_card_embleme {
        @apply !cfps-absolute cfps-w-[50px] cfps-h-[50px] cfps-right-[7%] cfps-top-[10%] !cfps-m-0 !cfps-p-0;
    }

    .paynocchio_payment_card_button {
        @apply cfps-absolute cfps-right-[7%] cfps-bottom-[12%] cfps-z-20;
    }
}

.paynocchio_account_page_buttons {
    @apply cfps-flex cfps-flex-row cfps-flex-wrap cfps-gap-4 cfps-items-center cfps-mt-4 cfps-justify-center;

    .paynocchio_topup {
        @apply cfps-flex cfps-flex-row cfps-items-center cfps-rounded-lg cfps-inline-block cfps-relative cfps-pr-6 cfps-pl-3 cfps-py-1 cfps-cursor-pointer cfps-text-nowrap cfps-border-2;
    }

    .paynocchio_withdrawal {
        @apply cfps-flex cfps-flex-row cfps-items-center cfps-rounded-lg cfps-border-2 cfps-inline-block cfps-relative cfps-pr-4 cfps-pl-4 cfps-py-1 cfps-cursor-pointer cfps-text-nowrap;
    }
}

.paynocchio_error_notification {
    @apply cfps-bg-gray-100 cfps-text-black cfps-p-8 cfps-text-center;
}

.congratz {
    @apply cfps-bg-gray-100 cfps-text-black cfps-p-4 cfps-text-center cfps-rounded-lg cfps-font-bold cfps-flex cfps-items-center cfps-flex-row cfps-justify-start cfps-gap-4;
}

#register_messages, #login_messages {
    @apply cfps-text-center cfps-rounded cfps-bg-red-100 cfps-p-2 cfps-mt-4;
}

#register_messages.success, #login_messages.success {
    @apply cfps-bg-green-100;
}

.totals {
    @apply cfps-p-4 cfps-rounded-lg cfps-bg-white cfps-drop-shadow cfps-flex cfps-flex-row cfps-items-start cfps-gap-8;
}

.paynocchio_pwd {
    @apply cfps-relative;
}

.paynocchio_pwd input {
    @apply cfps-w-full;
}

#show_password {
    @apply cfps-absolute cfps-top-2 cfps-right-2;
}

#top_up_amount {
    @apply cfps-max-w-32 !cfps-bg-transparent !cfps-border-0 !cfps-shadow-none cfps-text-3xl !cfps-p-0 focus:!cfps-outline-none;
}

#top_up_button.disabled,
#withdraw_button.disabled{
    @apply cfps-opacity-80;
}