@tailwind base;
@tailwind components;
@tailwind utilities;

#paynocchio_auth_block {
p {
    @apply cfps-text-base;
}

&  > div {
       @apply cfps-hidden cfps-rounded-lg cfps-p-8 cfps-bg-white cfps-drop-shadow;
   }

.visible {
    @apply cfps-block;
}

.row {
    @apply cfps-flex cfps-gap-x-6 cfps-mb-4;

&:last-child {
     @apply cfps-mb-0;
 }
}

.col {
    @apply cfps-flex cfps-flex-col cfps-w-1/2;
}

.paynocchio_input {
    @apply cfps-bg-slate-200 cfps-rounded-lg cfps-border-0;
}

.form-toggle-a {
    @apply cfps-cursor-pointer cfps-underline;
}

.paynocchio_button {
    @apply cfps-bg-blue-500 cfps-text-white cfps-px-4 cfps-py-2 cfps-rounded-lg;
}

input[type="checkbox"] {
    @apply cfps-rounded cfps-p-2;
}

h2 {
    @apply cfps-text-2xl cfps-font-bold cfps-mb-4;
}
}

.cfps-h2 {
    @apply cfps-mb-2 cfps-text-xl cfps-font-semibold;
}

.cfps-btn-primary {
    @apply cfps-text-2xl cfps-px-3 cfps-py-2 cfps-bg-blue-500 cfps-px-8 cfps-py-2 cfps-rounded-lg cfps-text-white cfps-inline-flex cfps-items-center;
}

.cfps-disabled {
    @apply cfps-opacity-75 cfps-pointer-events-none;
}


.paynocchio-account {
    @apply cfps-m-4 cfps-bg-white cfps-rounded-lg cfps-drop-shadow;

a {
    @apply cfps-text-blue-500;

&.cfps-btn-primary {
     @apply cfps-text-white;
 }
}
}

.paynocchio-embleme {
    @apply cfps-p-4 cfps-drop-shadow cfps-mb-4;
}

.paynocchio-embleme img {
    @apply cfps-w-44 cfps-mx-auto cfps-my-4;
}

.paynocchio-profile-info {
    @apply cfps-grid cfps-gap-x-6 cfps-grid-cols-[140px_1fr] cfps-items-center cfps-mb-8 cfps-max-w-5xl cfps-mx-auto;
}

.paynocchio-profile-img {
    @apply cfps-h-[140px] cfps-p-2;
}

.paynocchio-profile-text h2 {
    @apply cfps-font-bold cfps-text-2xl;
}

.paynocchio-count {
    @apply cfps-flex cfps-flex-row cfps-border-slate-200 cfps-border-r cfps-mt-2;
}

.paynocchio-count > div {
    @apply cfps-px-4 cfps-py-2 cfps-border-slate-200 cfps-border-l;
}

.paynocchio-count > div p:first-child {
    @apply cfps-text-2xl cfps-font-semibold;
}

.paynocchio-tab-selector {
    @apply cfps-flex cfps-justify-start cfps-max-w-5xl cfps-mx-auto;
}

.paynocchio-tab-selector a {
    @apply cfps-text-black cfps-py-4 cfps-px-4 cfps-cursor-pointer cfps-border-b-2 cfps-border-transparent;
}

.paynocchio-tab-selector a.choosen {
    @apply cfps-border-blue-500;
}

.paynocchio_tabs {
    @apply cfps-bg-slate-100 cfps-p-8 cfps-pt-1 cfps-rounded-lg cfps-m-4 cfps-mt-0;
}

.paynocchio-tab-body {
    @apply cfps-hidden;
}

.paynocchio-tab-body.visible {
    @apply cfps-block;
}

.paynocchio-consents {
    @apply cfps-text-center cfps-p-4;
}

.paynocchio-profile-block {
    @apply cfps-rounded-lg cfps-p-8 cfps-max-w-5xl cfps-mx-auto cfps-mt-8 cfps-drop-shadow cfps-bg-white;
}

.paynocchio-profile-block h2 {
    @apply cfps-font-bold cfps-text-xl cfps-mb-8;
}

.paynocchio-blue-badge {
    @apply !cfps-bg-blue-500;
}

.paynocchio-blue-badge > div {
    @apply cfps-font-bold cfps-text-2xl cfps-text-white;
}

.paynocchio .btn-back {
    @apply cfps-cursor-pointer;
}

.paynocchio-actions-btns {
    @apply cfps-flex cfps-flex-row cfps-justify-between cfps-items-center cfps-gap-x-2;
}

.btn-gray {
    @apply cfps-rounded-lg cfps-px-4 cfps-py-2 cfps-bg-gray-100 cfps-inline-block;
}

.btn-blue {
    @apply cfps-rounded-lg cfps-px-4 cfps-py-2 cfps-bg-blue-500 !cfps-text-white cfps-inline-block;
}

.btn-white {
    @apply cfps-rounded-lg cfps-px-4 cfps-py-2 cfps-bg-white !cfps-text-black cfps-inline-block;
}

.history-list {
    @apply cfps-flex cfps-flex-col;
}

.history-item {
    @apply cfps-p-2 cfps-grid cfps-grid-cols-[1fr_100px] ;
}

.history-item:not(:last-child) {
    @apply cfps-border-b cfps-border-gray-200;
}

.history-amount {
    @apply cfps-text-right cfps-font-semibold;
}

.paynocchio-card-container {
    @apply cfps-flex cfps-justify-center;
}

.paynocchio-card-face,
.paynocchio-card-back {
    @apply cfps-relative cfps-hidden;
}

.paynocchio-card-face.visible,
.paynocchio-card-back.visible {
    @apply cfps-inline-block;
}

.card-toggle {
    @apply cfps-absolute cfps-w-full cfps-h-full cfps-z-10 cfps-top-0 cfps-left-0;
}

.paynocchio-balance-bonuses {
    @apply cfps-absolute cfps-flex cfps-flex-row cfps-items-center cfps-text-white cfps-gap-x-8 cfps-text-xl cfps-z-20 cfps-top-[27%] cfps-left-[7%];
}

.paynocchio-balance-bonuses .amount {
    @apply cfps-text-3xl;
}

.paynocchio-card-number-mask {
    @apply cfps-absolute cfps-text-white cfps-text-xl cfps-z-20 cfps-bottom-[7%] cfps-left-[7%];
}

.paynocchio-card-number {
    @apply cfps-absolute cfps-text-white cfps-text-2xl cfps-flex cfps-flex-row cfps-gap-x-6 cfps-z-20 cfps-top-[50%] cfps-left-[7%];
}


/**
Numbers animation
 */
/*
@property --value {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}
@property --num {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}
@property --v1 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
@property --v2 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.paynocchio-numbers {
    transition: --value 1s;
    --num: var(--value);
    --v1: max(var(--num) - 0.5, 0);
    --v2: max((var(--num) - var(--v1)) - 0.5, 0);
    counter-reset: v1 var(--v1) v2 var(--v2);
}
.paynocchio-numbers::before {
    content: counter(v1) "." counter(v2, decimal-leading-zero);
}

.paynocchio-bonus-value::before {
    content: counter(v1);
}*/

.paynocchio-modal-open {
    overflow: hidden;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999999;
    align-items: start;
    justify-content: center;
    overflow: auto;
}
.modal .close-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.modal .container {
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.03);
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 5rem 0;
}
.modal .container.zoom {
    transform: scale(0.5);
}
.modal .container.slide {
    transform: translateY(-1000px);
}
.modal .container .header {
    display: flex;
    padding: 15px;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}
.modal .container .header h3 {
    font-weight: 500;
    color: #4d4d4d;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}
.modal .container .header button {
    appearance: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 4px;
    cursor: pointer;
    color: #9a9a9a;
}
.modal .container .header button:hover {
    color: #676767;
}
.modal .container .content {
    padding: 20px 15px;
    flex: 1;
}
.modal .container .content .prompt-input input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e6e9ec;
    margin-top: 15px;
    width: 100%;
}
.modal .container .footer {
    /*border-top: 1px solid #e6e9ec;
    background-color: #f9fafc;*/
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}
.modal .container .footer > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.modal .container .footer button {
    display: inline-flex;
    appearance: none;
    border: none;
    background-color: #3a75d5;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 3px 18px;
    font-size: 14px;
    margin-right: 7px;
    cursor: pointer;
}
.modal .container .footer button:last-child {
    margin-right: 0;
}
.modal .container .footer button:hover {
    background-color: #326fd3;
}
.modal .container .footer button.alt {
    font-weight: 500;
    background-color: #dadbdd;
    color: #606266;
}
.modal .container .footer button.alt:hover {
    background-color: #d5d6d8;
}
.modal .container .footer button.right {
    margin-left: auto;
}
.modal.small .container {
    width: 400px;
}
.modal.medium .container {
    width: 600px;
}
.modal.large .container {
    width: 900px;
}
.modal.full .container {
    width: 100%;
    height: 100%;
}
.modal.open {
    display: flex;
}
.modal.open .container.zoom {
    transform: scale(1);
    transition: all 0.2s ease;
}
.modal.open .container.slide {
    transform: translateY(0);
    transition: all 0.5s ease;
}


input {
    --tw-ring-color: transparent!important;
}

.toggle-autodeposit {
    @apply cfps-rounded-3xl cfps-bg-gray-400 cfps-w-[70px] cfps-h-7 cfps-p-0.5 cfps-flex cfps-flex-row cfps-items-center cfps-gap-x-2 cfps-relative cfps-cursor-pointer;
}

.toggle-autodeposit.checked {
    @apply cfps-bg-blue-500;
}

.toggle-autodeposit p:first-child {
    @apply cfps-hidden cfps-text-white cfps-absolute cfps-top-0.5 cfps-left-2 cfps-leading-6;
}

.toggle-autodeposit.checked p:first-child {
    @apply cfps-block;
}

.toggle-autodeposit p:last-child {
    @apply cfps-text-white cfps-absolute cfps-top-0.5 cfps-right-2 cfps-leading-6;
}

.toggle-autodeposit.checked p:last-child {
    @apply cfps-hidden;
}

.toggle-autodeposit.checked .toggler {
    @apply cfps-left-auto cfps-right-0.5;
}

.toggle-autodeposit .toggler {
    @apply cfps-rounded-3xl cfps-w-6 cfps-h-6 cfps-bg-gray-100 cfps-absolute cfps-left-0.5 cfps-top-0.5;
}

.card-variants {
    @apply cfps-flex cfps-flex-col cfps-gap-y-2;
}

.card-variants .card-var {
    @apply cfps-hidden cfps-rounded-lg cfps-bg-gray-100 cfps-p-4 cfps-drop-shadow cfps-flex-row cfps-items-center cfps-justify-between;
}

.card-variants.clicked .card-var,
.card-variants .card-var.current-card {
    @apply cfps-flex;
}


.modal-add-card input[type='text'],
.modal-add-card select {
    @apply cfps-p-2 cfps-pt-6 cfps-bg-gray-100 cfps-rounded-lg cfps-drop-shadow cfps-w-full cfps-border-0;
}

.modal-add-card div {
    @apply cfps-relative;
}

.modal-add-card label {
    @apply cfps-absolute cfps-top-1 cfps-left-2 cfps-text-sm cfps-z-20 cfps-text-gray-500;
}

.paynocchio-payment-block {
    @apply cfps-rounded-lg cfps-p-8 cfps-max-w-5xl cfps-mx-auto cfps-mt-4 cfps-mb-4 cfps-drop-shadow cfps-bg-white;
}

.paynocchio-card-simulator {
    @apply cfps-rounded-2xl cfps-p-4 cfps-drop-shadow cfps-text-white cfps-flex cfps-flex-col cfps-gap-y-8 cfps-justify-start;
    background: -moz-linear-gradient(45deg, rgba(250,176,88,1) 0%, rgba(227,84,30,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(250,176,88,1) 0%, rgba(227,84,30,1) 100%);
    background: linear-gradient(45deg, rgba(250,176,88,1) 0%, rgba(227,84,30,1) 100%);
}

.paynocchio-promo-badge {
    @apply cfps-rounded-2xl cfps-p-4 cfps-drop-shadow cfps-text-black;
    background: -moz-linear-gradient(45deg, rgba(203,184,255,1) 0%, rgba(172,150,234,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(203,184,255,1) 0%, rgba(172,150,234,1) 100%);
    background: linear-gradient(45deg, rgba(203,184,255,1) 0%, rgba(172,150,234,1) 100%);
}

input[type=range].styled-slider {
    height: 10px;
    -webkit-appearance: none;
    width: 150px;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background: #3b82f6;
    border: none;
    box-shadow: 0 0 0 3px #FFFFFF;
    margin-top: calc(10px * 0.5 - 20px * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 10px;
    border: none;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:hover {
    background: #0061c3;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
    background: #e5e5e5;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: #3b82f6;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
    background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#3b82f6,#3b82f6) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#0061C3,#0061C3) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#3b82f6,#3b82f6) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background: #3b82f6;
    border: none;
    box-shadow: 0 0 0 3px #FFFFFF;
}

input[type=range].styled-slider::-moz-range-track {
    height: 10px;
    border: none;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:hover {
    background: #0061c3;
}

input[type=range].styled-slider:hover::-moz-range-track {
    background: #e5e5e5;
}

input[type=range].styled-slider::-moz-range-thumb:active {
    background: #3b82f6;
}

input[type=range].styled-slider:active::-moz-range-track {
    background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#3b82f6,#3b82f6) 0/var(--sx) 100% no-repeat, #efefef;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#0061C3,#0061C3) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#3b82f6,#3b82f6) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background: #3b82f6;
    border: none;
    box-shadow: 0 0 0 3px #FFFFFF;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: 10px;
    border-radius: 0.5em;
    background: #efefef;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:hover {
    background: #0061c3;
}

input[type=range].styled-slider:hover::-ms-track {
    background: #e5e5e5;
}

input[type=range].styled-slider::-ms-thumb:active {
    background: #3b82f6;
}

input[type=range].styled-slider:active::-ms-track {
    background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 10px;
    border-radius: 0.5em 0 0 0.5em;
    margin: -undefined 0 -undefined -undefined;
    background: #3b82f6;
    border: none;
    border-right-width: 0;
}

input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
    background: #0061C3;
}

input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
    background: #3b82f6;
}

#bonuses-value {
    @apply !cfps-bg-white cfps-w-[50px] cfps-border-0 cfps-p-0 cfps-font-semibold !cfps-mb-6 cfps-text-2xl cfps-block;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}